<div class="small-12 medium-9 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>

    <% if feature?(:help_page) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.help"),
                                help_path,
                                current_page?(help_path),
                                accesskey: "6",
                                title: t("shared.go_to_page") + t("layouts.header.help") %>
      </li>
    <% end %>

    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
